@import url("reset.css");

h1 {font-size: 173%; text-align: center; line-height: 2 }
div.guf {width: 40%; margin-left: 30%; border: thin solid red }
div.mishna {font-size: 120%; border: thin solid blue; padding: 0.5em }
div.gmara  { border: thin solid green; padding: 0.5em }